.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .success {
    font-size: medium;
    background-color: green;
    color: white;
  }
  
  .error {
    font-size: medium;
    background-color: red;
    color: white;
  }
  